.header{
  background-color: #2E3238;
  padding: 1%;
  padding-bottom: 0.1%;
  padding-top: 0.1%;
}

.imagebox{
  width: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  margin: 0;
}

.section{
  background-color: #2E3238;
  padding: 20px;
  padding-bottom: 3%;
  padding-top: 1px;
}

.section2{
  background-color: #C4C4C4;
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 50px;
  height: 100%;
}

.section3{
  background-color: #ffffff;
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 50px;
  height: 100%;
}

.section4 {
  background-color: #2E3238;
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 50px;
  height: 100%;
}

.soundcloudplayer{
  width: 75%;
  display: inline-block;
  margin: 30px auto;
  margin-top: 1px;
  display: block;
}

h1 {
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  font-family: "Verdana";
  margin-top: 1px;
  margin-bottom: 0;
}

h2 {
    color: #2E3238;
  font-size: 60px;
  text-align: center;
  font-family: "Verdana";
  margin-bottom: 20px

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img1{
  width: 100%;
}

p {
  text-align: center;
  color: #2E3238;
  font-family: "Verdana";
  margin: 0;
  padding: 2px;
}

.img-container {
  text-align: center;
  width: 15.733%;
  padding: 20px;
  display: inline-block;
}

.memberphotos {
  width:100%;
}

.icons {
  width: 2%;
  padding: 1%;
}

.icons:hover{
  filter: brightness(75%);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.dot:hover{
  filter: brightness(75%);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
